.import-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "param param" "text image";

  & .parameters {
    grid-area: param;
  }

  & .text-import {
    grid-area: text;
    
  }

  & .image-import {
    grid-area: image;
    grid-area: image;
    text-align: center;
    color: whitesmoke;
    background: rgba(245, 245, 245, 0.25);
    margin: 1em;
    padding: 1em;

    & h3 {
      margin: 0;
    }

    &-content {
      width: auto;
      min-height: 4em;
      border: 3px dashed whitesmoke;
      margin: 1em;
      background-color: rgba(255, 255, 255, 0.15);
      background-image: url('../../assets/image-file.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 3em 3em;
    }
  }
    
}