.ColorPicker {
    position: absolute;
    z-index: 99;

    &__close-btn {
        position: relative;
        top: -26px;
        left: calc(100% - 28px);
        border: none;
        background: none;
        fill: white;
        padding: 0px;
        background: #FF4081;
        border-radius: 35px;
        border: 3px solid #FF4081;
        display: flex;

        &:hover {
            fill: lightgreen;
        }
    }

    &--isVisible {
        display: none;
    }
}