.general-footer {
  color: #bebebe;
  background-color: #00000021;
  font-size: 0.8em;
  font-family: serif;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  padding: 1em;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 2em;
  margin-right: 1em;
  & img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}