.icon-button {
  background-color: transparent;
  border: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  & .text {
    color: white;
    font-weight: 900;
    // text-decoration: underline;
    padding: 0.5em;
    font-size: 10px;
    margin-bottom: 0px;
  }

  & .icon {
    width: 32px;
    height: 32px;
  }

  & .arrow {
    visibility: hidden;
    width: 16px;
    height: 16px;
  }

  &.active {
    opacity: 1;
    & .arrow {
      visibility: visible;
    }
  }
}